/*Facebook image formatting*/
img { 
  display:block;
  width:260px;
  margin-left:auto;
  margin-right: auto;
}

/*Basic fourm formatting*/
fourm{
  display:block;
  width:330px;
  margin-left: auto;
  margin-right:auto;
}

/*Set background color and fonts*/
body{
  background-color:  #f2f2f2;
  font-family: Helvetica, Arial, sans-serif;
}

/*Email and Password outline color*/
div input{
  border: 1px solid lightgray;
}
/*Text for email and password*/
input{
  text-indent: 10px;
  width:325px;
  height:40px;
  border-radius: 5px; /*round corners*/
  margin-top:10px;
  font-size: 14px;
}

/*White box outline for fourm*/
div fourm{ 
  background-color: white;
  width: 330px;
  border: 0px white;
  padding: 30px;
  margin: 0px;
  margin-right: auto;
  margin-left:auto;
  
  border-radius: 7px; /* round corners*/
  box-shadow:0 0 5px 0.2em lightgray;
}

div label{
  display:blocks;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}
p{
  display:blocks;
  margin-top:0px;
  margin-left: 100px;
  margin-right:auto;
  font-size:15px;
  
}

.button{
  background-color:#3377ff;
  color:white;
  font-size:19px;
  font-weight: bold;
  border:#3377ff;
  width:330px;
 
}
.account{
  margin-top:15px;
  font-size:14px;
  margin-left:110px;
  margin-right:auto;
  
}
a{
  color:  #006bb3;
  text-decoration:none;
  margin-left:11px;
}
a:hover{
  text-decoration:underline;
}

input.button:hover{
  background-color:#1a66ff;
  
}
input.new:hover{
  background-color:#00b300;
  
}
fieldset{
  border:none;
  padding: 4px 0;
  margin-top:10px;
  border-top: 1px solid #3b3b4f;
  margin-bottom:10px;
  
}
.new{
  display:block;
  background-color:#00cc00;
  
  font-size=10px;
  color:white;
  font-weight: bold;
  width:200px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  border:none;
}
.special{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid lightgray; 
  line-height: 0.2em;
  margin: 20px 0 20px;
  color:lightgray;
  font-size:14px;
}

p span {
    background:#fff; 
    padding:0 15px;
}

div footer{

  
}
